body {
    margin: 0 auto;
    font-family: Arial;

}

  .zone {
    /*padding:30px 50px;*/
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/***********************************************************************
 *  Nav Bar
 **********************************************************************/
.main-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
    float: right;
    margin-right: 20px;
    
}



#side-menu {
    height: 80%;
    width: 0;
    z-index: 1;
    top: 0;
    right: 0;
    position: fixed;
    float: right;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 90px;
    opacity:0.9;
    transition-duration: 0.3s;
    border-top-left-radius: 20px;
}

#side-menu a{
    padding: 10px 10px 10px 10px;
    display: block;

    font-size: 16px;
}

#side-menu .btn-close{
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-right: 50px;
}

#side:hover{
    text-decoration: underline;
}


#logo {
    width: 5rem;
    border-radius: 100%;
    padding: 0px;
}

.push:hover{
    text-decoration: underline;
}





 @media(max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        
    }

     .push{
        display: none;
    }

    

    .cover {
        width: 15rem;
    }
    
    
}


 @media(max-width: 1100px) {
     .container {
         justify-content: space-evenly;
     }
 }





@media(min-width: 600px) {
    #yes{
        display: none;
    }

    
}
  .main-nav li {
    padding: 5px;
    
}

 i{
    padding: 25px;   
}

 a{
    color: #f5f5f6;
    text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/***********************************************************************
 *  FIRST SECTION
 **********************************************************************/
.container {
    
    height: 900px; 
    display: flex;
    align-items: center;
   justify-content: space-around;
    flex-wrap: wrap;
   

    
}
.cover {
    width: 20rem;
}

#start{
    background-color: rgb(156, 70, 70);
    width: 120px;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    font-family: Arial;
    box-shadow: black;
    
    
}

#start:hover{
    background-color: brown;
    color: white;
}

h2{
    font-size: 40px;
    font-family: Arial;
   font-weight: inherit;
   font-stretch: semi-condensed;
      
}

#use{
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: initial;
   color: rgb(45, 45, 105);
}

 p{
    font-size: 20px;
    font-family: Arial;
   font-weight: initial;
   font-stretch: semi-condensed;
 }


/***********************************************************************
 *  SECOND SECTION
 **********************************************************************/
.flex-wrapper-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    height: 100vh;
    background-image: linear-gradient(white, rgb(201, 204, 231));
    
   
}


#about{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 30px;
}

.flex-wrapper {
    text-align: center;
    background-image: linear-gradient(white, rgb(248, 248, 250));
   margin: auto;
   padding-bottom: 20px;
   padding-top: 90px;
   margin-bottom: 30px;
   border-radius: 6px;
   width: 90vh;
    box-shadow:   7px  7px 30px  rgb(100, 100, 100);
        
    
}



@media(max-width: 700px) {
    .flex-wrapper {
        width: 100%;
        /*box-shadow:   2px  2px 10px  rgb(100, 100, 100);*/
        box-shadow: 0px 0px 0px;
    }
}

.list {
    list-style-position: inside;
    margin: 40px;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
   font-weight: initial;
   font-stretch: semi-condensed;
   color: rgb(10, 10, 51);
   
}

.users{
   width: 20rem;
}

/***********************************************************************
 *  Footer
 **********************************************************************/
.footer {
    text-align: center;
    background-color: #444;
    color: white;
    padding: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#github{
    width: 3rem;
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue {
    background: rgb(80, 80, 126); /* Old browsers */
   /* background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
   /* background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
   /* background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
   /* background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}


@media(max-width:1100px) and (min-width:750px) {
    .flex-wrapper{
        width: 50vh;
    }
}

