.convert-back{
    width: 30%;
    margin: auto;
}

#button1{ 
    background-color: brown;
    padding: 8px;
    border: 0px;
    
}
a{
    text-decoration: none;
    color:white;
}

.second{
    margin: 0 auto;
    width: 30%;
    margin-top: 70px;
    
}

@media(max-width:700px){
    .second{
        
        width: 100%;
        
    }
}


.first{
    background-color: #25405c;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

#button{
    background-color: rosybrown;
    color: black;
}

.empty-space{
   
    height: 35vh;
}

body{
    background-color: white;
    margin: auto;
    
}

/*///////////////////////*/
.footer {
    text-align: center;
    background-color: #444;
    color: white;
    padding: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.footer a{
    color: rgb(172, 172, 172);
}

.footer a:hover{
    color: rgb(240, 240, 240);
    text-decoration: underline;
}

#github{
    width: 3rem;
}

#value{
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    
}

#fValue{
    width: 250px;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid grey;
}

#cValue {
    font-size: 25px;
    font-weight: bolder;
}
